.jumbotron {
    background-image: url("../Images/low_poly_wallpaper_by_atty12-d74s7oc.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: white;
}

.list-group-item {
    width: 90%;
    text-align: center;
    padding: 5px 0px;
    margin: 0 auto;
    border-radius: 15px;
}

ul.list-group.list-group-flush {
    width: 32%;
    margin: 0 ;
    /* position: absolute; */
    top: 30px;
    right: 20px;
    float: right;
}

button.sports {
    margin: 5px;
    border: solid 2px black;
    border-radius: 10px;   
}

#buttons {
    width: 65%;  
}

h1.display-4 {
    width: 50%;
}

img {
    width: 300px;
    height: 200px;
    padding: 15px;
    margin: 0 20px;
}

#sport-input {
    text-align: center;
    width: 60%;
}

 #add-sport, #clear, #clearBtns {
    margin: 5px;
    border: solid 2px black;
    border-radius: 10px;
} 

.wrapper  {
    display: inline-block;
}

.wrapper p {
    text-align: center;
}

@media screen and (max-width: 640px) {
    section {
        margin: 0 auto ;     
        width: 90%;
    }